extends layout

block content
	h1 We're here for you!
	
	div(name="notice")
	
	p #{name}, you're on your way!
	
	p Your walk is being monitored by #{school}'s Campus Security
	
	div(name="status")
		p You're about #{mins} minutes away from your destination
		
		p (#{miles} miles to go)

	div
		form(id='getDrone', action='/getDrone', method='POST')
			div(class='form-group')
				button(type="submit", class="btn btn-default btn-block", name="drone", formaction="") Request a Drone Escort
		form(id='endTrip', action='/end/#{tripId}', method='POST')
			div(class='form-group')
				button(type="submit", class="btn btn-default btn-block", name="help") Cancel / End Trip
		form
			div(class='form-group')
				a(href="tel:#{phone}", class="btn btn-danger btn-block") Call for Help