extends layout

block scripts
	script(type='text/javascript').
		function initMap() {
		  var origin = {lat: #{originLat}, lng: #{originLon}};
		  var destin = {lat: #{destinLat}, lng: #{destinLon}};

		  // Create a map object and specify the DOM element for display.
		  var map = new google.maps.Map(document.getElementById('map'), {
			center: origin,
			scrollwheel: false,
			zoom: 12
		  });

		  // Create a marker and set its position.
		  var originMarker = new google.maps.Marker({
			map: map,
			position: origin,
			title: 'Your Location'
		  });
		  
		  // Create a marker and set its position.
		  var destinMarker = new google.maps.Marker({
			map: map,
			position: destin,
			title: 'Your Destination'
		  });
		}

		$(document).ready(function(){
			initMap();
		});
	script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9NksVJ-3AzFhEoekDx_DGyXZ3aita-Wc&signed_in=true")

block content
	h1 We're here for you!
	
	div(name="notice")
	
	h3 #{name}, you're on your way!
	
	p 
		em Your walk is being monitored by #{school}'s Campus Security
	
	div(name='status', class='well well-sm')
		p
			strong You're about #{mins} minutes away from your destination
		
		p 
			strong (#{miles} miles to go)
	div(id='map', style='height:150px;margin-bottom:20px;')
	div
		form(id='getDrone', action='', method='')
			div(class='form-group')
				button(type="submit", class="btn btn-default btn-block", name="drone") Request a Drone Escort
		form(id='endTrip', action='/end/#{tripId}', method='POST')
			div(class='form-group')
				button(type="submit", class="btn btn-default btn-block", name="help") Cancel / End Trip
		form
			div(class='form-group')
				.a(href="tel:#{phone}", class="btn btn-danger btn-block") Call for Help <span class="glyphicon glyphicon-earphone"></span>